/* src/DataViewer.css */

/* General styling */
body {
  background-color: #134D3A;
  position: relative;
}

.data-viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.data-section {
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.data-item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

h2 {
  margin-bottom: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .data-section {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .data-section {
    width: 95%;
  }
}

/* Adjust font size for smaller screens */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  .data-item {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.3rem;
  }

  .data-item {
    font-size: 0.8rem;
  }
}
